{% extends "layout.html" %}
{% block content %}

<div class='container fluid'>
	<table class='table table-striped'>
	{% for product in products %}
		<tr>
				<td>	{{product.description}} </td> 
				<td> 
					<form method='POST' action='/products/{{product.id}}?_method=DELETE'> 
						<button type='submit' class='btn btn-danger'> Delete Product </button>
					</form>
				</td>
				<td>
          <a class='btn btn-warning' href='/products/{{product.id}}'> Edit </a>
				</td>
		</tr>
	{% endfor %}
	</table>
</div>
{% endblock %}
